@model IEnumerable<Sermo.UI.ViewModels.RoomListViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create new room", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    Placeholder...

</table>
